<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    {{#each product}}
    {{#each this.orderDetails}}
        <a href="/view/{{this.id}}">
        <img src="{{this.img}}" alt="product mage">
        <p>{{this.title}}</p>
        </a>
        <p>PRICE: {{this.price}}</p>
        <p>QUANTITY: {{this.quantity}}</p>
        <p>COLORS: {{this.colors}}</p>
        <p>SIZE: {{this.sizes}}</p>
        <hr>
    {{/each}}
    {{/each}}


    </body>
</html>